body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #f7d6e0, #dbe7ff);
    font-family: Arial, sans-serif;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    text-align: center;
}

h1 {
    color: #a55eea;
}